#layout
{
  background: #333;
}

#navbar .nav_panel .logo
{
  -moz-filter: grayscale(100%) contrast(130%);
  -webkit-filter: grayscale(100%) contrast(130%) invert(1);
  filter: grayscale(100%) contrast(130%);
}

#navbar .nav_panel .tab.open, #navbar .nav_panel .tab:hover, #navbar .nav_tabs_content.open .nav_tab
{
  background: #000;
}

#navbar .nav_panel .tab.tab_settings, #navbar .nav_panel .tab
{
  border: none;
}

#navbar .nav_panel .tab.tab_user img, .comments_list .comment_item .info a.avatar img,
.conversation_page .messages .message .info a.avatar img
{
  -moz-filter: grayscale(0.5);
  -webkit-filter: grayscale(0.5);
  filter: grayscale(0.5);
  opacity: 0.5;
}

#navbar .nav_panel, #navbar .nav_tabs_content .nav_tab, .comments_list .comment_item .message.bad1,
.comments_list .comment_item .message.bad2, .comments_list .comment_item .message.bad3,
.comments_list .comment_item .message.bad4, .comments_list .comment_item .message.bad5,
.comments_list .comment_item .message.bad6, .comments_list .comment_item .message.bad7
{
  background: transparent;
}

#navbar .nav_tabs_content .nav_tab .menu a, .conversation_page .messages .message .info .time
{
  color: #ddd;
}

.comments_list .comment_item .info .folding-dot
{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAFCAYAAABFA8wzAAAAI0lEQVR42mNgoBX4//+/579//2aBaKoYCDXsP4genC6kFgAADpcfZeDmclMAAAAASUVORK5CYII=);
}

.comments_list .comment_item .info time
{
  color: #aaa;
}

.comments_list .comment_item .info.is_new, .conversation_page .messages .message.new .info
{
  background: #445;
}

.comments_list .comment_item .info.is_topic_starter
{
  background: #454;
}

.content_left table.menu tr td a, .content_left .submenu
{
  background: #555;
  border: none;
  color: #fff;
}

.content_left table.menu tr td span.count_new, .sidebar_right .block.habralenta_settings .category-list .category .new,
.post .hubs a.subscribed, .comments_list .comment_item .info .voting .mark.positive span
{
  color: #7d7;
}

.content_left table.menu tr td, .content_left table.menu tr td.active
{
  border-color: transparent;
}

.content_left table.menu tr td.active a, .content_left .submenu .item.active
{
  background: #444;
  border: none;
  color: #d3e2f0;
}

.html_format h1, .html_format h2, .html_format h3, .html_format h4, .html_format h5, .html_format h6,
.comments_list .comment_item .info a.username, #navbar .nav_tabs_content .nav_tab .title,
.conversation_page .messages .message .info .login a
{
  color: #fff;
}

.post .content img, .comments_list .html_format.message img
{
  -moz-filter: grayscale(0.8);
  -webkit-filter: grayscale(0.8);
  filter: grayscale(0.8);
  transition: all 300ms;
  opacity: 0.6;
}

.post .content img:hover, .comments_list .html_format.message img:hover
{
  -moz-filter: grayscale(0);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1;
}

.post .infopanel .author a, .post .infopanel .comments a, .sidebar_right .block .posts_list .post_item .count,
.comments_list .comment_item_plain .post_info .count, .comments_list .comment_item .info .voting .mark.negative span
{
  color: #f77;
}

.post h1.title a.post_title:visited, .sidebar_right .block .posts_list .post_item a:visited.post_name,
.post ul.tags li a:visited, .sidebar_right .block.best_company .company_info p a:visited,
.sidebar_right .block.new_vacanies .vacancies .job_item a:visited,
.sidebar_right .block.freelansim .tasks .task a:visited, .grey a, a.grey, .html_format.message a:visited,
.content_left .submenu .item.active a, .post .content a:visited, .html_format a:visited
{
  color: #8392a0;
}

.posts .post h1.title, .post h1.title a.post_title, .sidebar_right .block .posts_list .post_item a.post_name,
.post ul.tags li a, .sidebar_right .block.best_company .company_info p a,
.sidebar_right .block.new_vacanies .vacancies .job_item a, .sidebar_right .block.freelansim .tasks .task a,
.html_format.message a, .content_left .submenu .item a, .post h1.title, .user_header h2.username a,
.post .content a, .conversations .conversation a.conversation_link, .html_format a
{
  color: #d3e2f0;
}

.conversation_page .messages .message .info .login a:hover
{
  color: #aaa;
}

.sidebar_right .block.new_vacanies .title
{
  -moz-filter: invert(1);
  -webkit-filter: invert(1);
  filter: invert(1);
}

body .buttons a.button, .buttons input
{
  background: #444 !important;
  border: none !important;
  box-shadow: inset 1px 1px 0 #666, inset -1px -1px 0 #000;
  color: #fff !important;
  text-shadow: none;
}

body .buttons a.button:disabled, .buttons input:disabled
{
  box-shadow: inset 1px 1px 0 #666, inset -1px -1px 0 #000;
  text-shadow: none;
  border: none !important;
}

body .buttons a.button:disabled:hover, .buttons input:disabled:hover {
  background: #fafcfa !important;
}

body .buttons a.button:hover, .buttons button:hover, .buttons a.button:hover, .buttons input:hover
{
  background: #666 !important;
}

body, .sidebar_right .block
{
  background: #222;
  color: #ddd;
}

.html_format pre code
{
  background: #bbb;
  border: none;
}

.html_format .spoiler .spoiler_text
{
  background: #555;
  border: none;
}

.comments_list .comment_item .info.is_author, .conversation_page .messages .message.my .info
{
  background: #554;
}

.editor .text-holder textarea
{
  background: #444;
  color: #fff;
}

.editor .text-holder, .conversations .conversation:hover, .editor .text-holder, .conversations .conversation.new
{
  background: #444;
  border-color: #444;
}

.editor .panel
{
  background: #ccc;
}

.notes table tr td, .tracker_page table.tracker_folowers tr td, .tracker_page table.tracker_mentions tr td,
.conversations .conversation
{
  border-bottom: 1px solid #555;
}

.conversation_page .messages .message
{
  border-top: 1px solid #555;
}

.conversation_page > .title
{
  color: #ccc;
}

/* embedded video */
iframe
{
  -moz-filter: grayscale(0.8);
  -webkit-filter: grayscale(0.8);
  filter: grayscale(0.8);
  transition: all 300ms;
  opacity: 0.6;
}

iframe:hover
{
  -moz-filter: grayscale(0);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1;
}

/* разметка кода */

.html_format code
{
  color: #A9B7C6;
}

.html_format pre code
{
  font-size: 12px;
  padding: 0.5em;
  background: #2b2b2b;
  display: block;
  color: #A9B7C6;
}

code .subst, code .title
{
  font-weight: normal;
  color: #FFC66D;
}

code .comment, code .template_comment, code .javadoc, code .diff .header
{
  color: gray;
}

code .annotation, code .decorator, code .preprocessor, code .doctype, code .pi, code .chunk, code .shebang,
code .apache .cbracket
{
  color: olive;
}

code .tag
{
  color: #E8BF6A;
}

code .tag .title
{
  color: #93C763;
}

code .pi code .id, code .attr_selector, code .pseudo, code .literal, code .keyword, code .hexcolor,
code .css .function, code .ini .title, code .css .class, code .list .title, code .tex .command
{
  color: #CC7833;
}

code .attribute, code .rules .keyword, code .number, code .date, code .regexp, code .tex .special
{
  color: #9876AA;
}

code .number, code .regexp
{
  font-weight: normal;
}

code .string, code .value, code .filter .argument, code .css .function .params, code .apache .tag
{
  color: #390;
}

code .symbol
{
  color: #6E9CBE;
}

code .ruby .symbol .string, code .ruby .symbol .keyword, code .ruby .symbol .keymethods
{
  color: #A5C25C;
}

code .char, code .tex .formula
{
  color: #968e5b
}

code .phpdoc, code .yardoctag, code .javadoctag
{
  text-decoration: underline
}

code .variable, code .envvar, code .apache .sqbracket, code .nginx .built_in
{
  color: #D0D0FF
}

code .addition, code .deletion, code .diff .change
{
  display: block;
  margin-bottom: -1.6em;
}

code .addition
{
  background: #294436
}

code .deletion
{
  background: #484A4A
}

code .diff .change
{
  background: #385570
}


/* wysiwyg icons */

.wysiwyg_wrapper > a {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAADmCAIAAABNk6KBAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyNpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjA1MEQ1NkRFRDc5NjExRTNCRkJCODZGM0I0MkU5OTg5IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjA1MEQ1NkRGRDc5NjExRTNCRkJCODZGM0I0MkU5OTg5Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MDUwRDU2RENENzk2MTFFM0JGQkI4NkYzQjQyRTk5ODkiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MDUwRDU2RERENzk2MTFFM0JGQkI4NkYzQjQyRTk5ODkiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz6iSQBoAAAHc0lEQVR42uycSWwTVxjHZ7yMV+KEOMSBkECUhZQGCKIJhBbKUkqQiuBCBeVCDz1Qqaoq9dLt0Eq9VK2qVuqBQ3thkegCXQSIgsKmhKQ0CaQhTcgKJHFMHI/tsT3rm34z4zjGBPAYRwXpPY2e3vznm5/ffO/NzH/GTshr164Rc1MMxJwVjE4pppT1oXH/hY7eIe8ktD3zXVDTTHTdc2WbVlc9aa+XFuUf2NGgtQ/u2giLlTI3dfa2dA9mPyF5TjvULCdkHx1gokpy8l1Pmuvk8sOpZuBCrhvrn68u9WSz15D03S/V5jrtp1v/aWrvzXJCYFTXLS+DBoxk9nOdqw7jnJwynf23le573HrRZMqVr+PW7aaOPlqbFfNdLC/AvK4u8WRwypD4oorRGI3RGI3RGJ2eezrd2t3SPRB3Ix53wmNmAd1Yv9xqNoGz2bulLgNX9piEDHv9UGfGfQwaDLzm3udkGJcWubOP1h4Dlnjys48eVh9nMk70o9Dj/lDGHvUxaHCURfk5WUbDyfLV8XPagx60M0Zjp4rRGI3RGI3RGP1oOwk33MTboYO7NiZbVitlBo9ZW1GSYa/f27M1matZ1gON66Hxwf7G9LkPTYiNMt/v/PLxDHnW0DDJtHfWySUD1zoLGmYYTO1kI/ndyYu15Yuz8ASmPXu13BxMnCmZfQ0xh041tdeffP/bo3f49M2d2F9jNEZjNEZj9FPnVLUCt/OOW7eL5rvGp4Jw281z2rPzTrWpvbdnZBx8qbZ67Hwby4nZSciw129Ncqp7t9RlM9feqWDyF+cZZOOhd/TPD59meeVHCtWlnlXlJZm9ozQ92oT0jHhhycCEPN6HwDw5cbkzs7fus+RaezWZsJbZ/PY/xabC6qqK4uycMjDzvP6glndob1pVpevBC3s+jMZojMZojMboZwb97jfHng7r/sXRM1C/v2/70T9b23qUL9G/fmdvol1XXbbvlfrEqlZStiYI9/U6WYVogMKS3NYQyZse3KrtrqHi6JRPe5KSTDc9IUsbT0jI7MOYciC6ipYQSPSDiZ3xfLqGcdbVlMRiO4nRGI3RGI3RGP0/GLNLfRN80t8fUWZiQ2XhrKI+9B/tQ9tql1LkzAZeJn5u7X+trjxFPH19pHFlqQ50KBwTZOJM+2CIiXG84LRbNtVWTvppOiY1dfQxUc5CmXOcti21ZQE6oi/XTCwyGuTGfZP7Ny4XOX7CFzh8qpnjeKh9voDE8aDDVoiBSH0JiUXZu4FoLMZCW5TE13eszbMYKNAJYjRAnDzfDDob45SYKKsPHWFjcNRRVtmtd2Dooy//lRAiDQYZIZPRYLVYCKJBi4FaX0IiTMyAEMuJHx76Fdyaw2HfsL7BajZCbbfbQQEdtkIMROrrtShJPMe+3PACIQNHWYLhsNFsceVYdzZuUURVp0Nhs5FMEz1jJz8+dCKY1COX07Zna93xc20p4mdv7daNxtcQjMZojMZojMbo++2kcl9HaNgXngzHWF4Cp7C20pOixwTJBnqFR1+vwzH+Ss+oTMgrS92LC5ysEHeoDKvoiECgl7qdLC/oS4ggoZa+sbJCFy8IV/vGkCTVVxRpenPvWHmhSxBE0CUJaboOs9A76kcICZJsMRurFs38KhV0cGiiiCyUKVnX0evBcb87xxFgoin7D4z5C3IcdCSmlzszjIFQ1GIx+wLhHy/dgCTkOmwryzyL3C6aiUJ/J0C/3CUIUt48e81ST7E7RweaE4WISNavqIS22WicpIMXbgy8sXk1L4gRyVBfU6HoJtMkHbp4ox90HWhSlifCrMFoVNeQgbJHVK8tE0jTSZIgeUGmbJquA11SkDtwx1tQuIBUPakyN3gJ6lJ3XI/3YFrXgV6zrOTw2bYIyztyckmZYMK01WKc1v8C3TkvF8DhUFzX51R9dPjkpeswGRSz67Du3rBqQe68hB5Ufm9LupzWXdM6NsEYjdEYjdEYneYNrG3QH2bTvenNsxrryvLTRdMRdlvNojTRZ7tG9bx7QkqXm+8yRjVDEiKM09mS1IMBs2AwEDIi1hY7teB00QhgqtmtKs7R0g9+1AIKQfBqEKU6ha474URwumhBjUY8eCUCyYTVSNjJ+GZYOFl5lwgfKajOWEgPHZ8hSD1GAWpEWEmCkonfW4b6xyITU/yFzjGgI5GgY0RM/V9VSFdCRLUjYK4B2t0/6aXD7V0jd8cDBpMhykRHfXRxYd7KyiJe7bWoq9eSqHQkwgqciI6cvDo+EWxYU15Xu6Rm2aKSxQu890JHfroMtklWoVpw+sOoRItg6CT51ReX/X1zyDdxz+FwgJ2ng8rfKe3YvIITkCiJiWB9w0gaZD/DVpQvrK5a6KDMiJB5SXaYDIIsBxj+ljcgiKKc9jDG0ZI6MkhEk6EI7G8xm3JtFiAyrJBno+BBJCrwvCCBr5Sng9MeRjV9U6FokGGNhMHhMN+TSV4UWV60WcyU6q8jHA+r0nSwjlMGDvLt7XG7r1lslNROFKT3lBFlSX4I68GPgWAdaKvJ9O0vV9K8PNmtFPbXGZT/BBgAZAchtVI8748AAAAASUVORK5CYII=) no-repeat 0 0;
  height: 23px;
  width: 20px;
}

.wysiwyg_wrapper > a > img {
  display: none;
}

.wysiwyg_wrapper a[title="Курсив"] {
  background-position-y: -30px;
}
.wysiwyg_wrapper a[title="Подчёркнутый"] {
  background-position-y: -60px;
}
.wysiwyg_wrapper a[title="Зачёркнутый"] {
  background-position-y: -90px;
}
.wysiwyg_wrapper a[title="Цитата"] {
  background-position-y: -180px;
}
.wysiwyg_wrapper a[title="Код - Используйте этот тег для строчных элементов"] {
  background-position-y: -120px;
  width: 30px;
}
.wysiwyg_wrapper a[title="Вставить ссылку"] {
  background-position-y: -150px;
}
.wysiwyg_wrapper a[title="Вставить изображение"] {
  background-position-y: -210px;
}

/* voting arrows styles */

.post .infopanel .voting a.plus, .post .infopanel .voting a.minus,
.comments_list .comment_item .info .voting a.plus, .comments_list .comment_item .info .voting a.minus
{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAfCAYAAABtYXSPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyNpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjA2MUIwNjY1RDdCNTExRTNCRkJCODZGM0I0MkU5OTg5IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjA2MUIwNjY2RDdCNTExRTNCRkJCODZGM0I0MkU5OTg5Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MDYxQjA2NjNEN0I1MTFFM0JGQkI4NkYzQjQyRTk5ODkiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MDYxQjA2NjREN0I1MTFFM0JGQkI4NkYzQjQyRTk5ODkiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5AK63NAAAGoUlEQVR42sRXe0xTVxj/WlpaEBgMeSkvCwhMmDCZj5lsiY8YJSaLyzKzh5luTjeZw8cwC3G+EOccU4PJXONjxmRMN5xZ5mMu6qYLqJBsUnkHZUoRBVpoe9ve3tvefefe3tLbF/rXTvLl9Dvfd875ne91v8o4jgPv8Y+5Yb/OeqO8MHJ2bVH0S+sh1Ph+Fwc0PcarVABvbpWF2mI0GmsNBkNZfHz8jtjY2O3eMrkPEO1Vqq48N0kGOH+M/Lcw3pg7A6AwSyDjSEjVkZGRSgIkNTUVhoeHtyF/NCAYvLju7OCJ1XOTNeAEK8xOToZfTcc/wPVDQU8XrWIZFSg0EC0CqCJA5HI5kBnXVplMJq0EzID9QS0CWf7ylBiwcP1g40Z4KpgYCXV9R9YhoINBbzGhNSwGgUapgCoURe1HIKuT8YEECH8xzikpKTAwMLB6aGiolqwpEEjV4f6qsqLJarC5zLyiw+kQTkHvF2aY4ejdg+vfy4A4jKEVklusNsEipuBWQSBavV7PA+HPdjgkcrKO8rKwsDCQVbSt5OZooiEmPNyj0G/r9fyOU8Xz4K50UVBbcEoanNVrOXg+EaDvgcDrEdyuHyQ67e3tHHGJWq32rNlsNuGtMhm/TgD29PSAgizW67p5Yaw6GuZNnQA2doDnr3VFk7d5ZEGH2eJ2mSug+N69e/ysVCpBo8GYdDp5vrd37NHEMoq9+cc8L3mneQnnRCuM0H3ulXw4WXI+eKraMF5MmM6WQTfvDzg/P9+zv6WlhXO5XMAwjEdeXFzskSv86gAzBBQjIDbaMvwBENf06r3y8TaCcVuGCgN4a75QuCbGAhysD1lz7Ha7hJeAMdqswLgGYdidsQa72f8EAuSFiQAP0fR9j5G8ZGorwIQYgLQ0rBUGv63EKoTEjPIdcnja8fraarjcBRCVIFw8YhsjZ5gA5FY/wLsblzzt0RLLEEtQDA397nLxmApQNxaWVpLogJrKXTA/B13DorWGEUQUwLQ8gMuYDJt2b0a9C75bxbQWY4ZYKSgY3u1M7/hPWFhaBcRBNZXH4cU8YW1SNsDFmwDlNVtQXhNoG8kibwC093fNFwyxBIXgNVECf8ZqDAXoO7DTk2B3xW6YNR3g92aAyprPYemyL8d7S1RU1PhuIuOrhkTP76zIuNCnLl1WDS4MlJ9O74TP9nyE/Deh1Emxa2pqCiqX+bYQ/+fws8x9I3Xsocm+MiVGrU2Pm7Am1OZLHf0cwzola6UFaUFrC1Zcv5dnZmaO6RPLiPSvwbL3j+5HnAOZq10DHPKHvOW+9Fu7nvMePzb3cKH08bMg0e/s7JToy70s8oVOb6iYkZUIStIz5SRBx6PRdbh+NNhLRaswbnrSIRa/gEXPaKVPIJAtJdkpQq+ExqSRZmQnwa27j1Z1DpoPBAUEgi6FZGdCQxJTm8wiSWIGgWy/3K5fMWvqZL6AmlhWolCQkwJNbfc/wULizE2I3iTJDprhgYh7GIYdFwwh1q3vC0Z+rqV3GwESF6WCGIWCJwsqE2KdHCRHR8Ar0zKhoeP+Rr8PHVqCxgNFfd9gDgSGDAKGZdnA2XShuZNnIiNUsLgkGywOQfHSrXaPYrgiLHAbjIEn6jvGAeMLhPFxq+Lt2bme1Dp+vZUjhzOskIGsywnli0qCpipxC7GeqE8zjieyjDj7gfHNjjAn6YFFN/ibkgA2YGfHuDhQymUw5PV9IWvVvzTwyGIiIqBsYbHszp07nNVqDdrDNDY28vqk/ZSAIWamgZOkoO94aByF1+YUAqdSwKCdBYoe0587cxqEozefUSrg3F8tQkdqNkNeXh7fVhIg3tbAgsf3NuHYf3d0dEj7GeIW4YUC0QGCrLQoq7q+UQejaLUEtcKjy7hxi0Dm5aXz9SkrK6uSXERc492Ue2LRDSQjI6NK7utTGZ5KMBBy0P51Y3p6UuXigina83/+DTKahUlqFa+rxJMSwlVw9tptAuRUsSblfaKfmJhYjU14VVtbm10EJH4PyW8E0odADiQlJW2VgKHRTQ6XAhyIgRDjDFw38KI1rxblbPj5ZivPp2NZIEDOXGuGRc9lnEb5cm99clF2dvae7m7hX0gExhMB0traSiyyA+Ub/NpOzn15/rORPNlCFDG88MC83NR99VdvwKiThrorN2BBfvo+XH8jkD5euDMtLe1DnU7He4DMGDPrcf1I4IacssHXZy56+AilImSqzsxJrSBtyPWbbZtLCzUn3XzQgX9nD5NoQAtp0XWfIl/rLf9PgAEA52u8NQBa28kAAAAASUVORK5CYII=) !important;
}

.user_header .karma .score .vote_minus,
.user_header .karma .score .vote_plus
{
  -moz-filter: invert(0.9) brightness(2);
  -webkit-filter: invert(0.9) brightness(2);
  filter: invert(0.9) brightness(2);
}